/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.index__body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}

main {
	max-width: 1000px;
	margin: auto

}


h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	color: black;
	text-decoration: none;
}

.insta {
	height: 20px;
}

nav a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	padding-right: 40px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin: 80px 0;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/*** Filtre ****/

.filtres {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filtres__boutons {
	color: #1D6154;
	border-radius: 60px;
	border: solid 1px;
	border-color: #1D6154;
	background-color: transparent;
	padding: 7px 10px;
	font-family: 'Syne';
	font-weight: 700;
	cursor: pointer;
}

.filtres__boutons--select {
	color: white;
	background-color: #1D6154;
}

/***** Fin filtre ****/

.gallery {
	width: 100%;
	max-width: 900px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 50px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
	margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2, #login h2 {
	margin-bottom: 20px;
}
#contact form, #login form, .contenu-modal form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, .contenu-modal input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label, .contenu-modal label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.submit {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer {
	background-color: white;
	display: flex;
	justify-content: flex-end;
	padding-right: 6em;
	font-family: 'Work Sans' ;
	font-size: 0.8em;

}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** login **/

.login__onpage {
	font-weight: 700;
}

.login__body {
	min-height: 100vh;
	margin: auto;
	position: relative;	
	background-color: #fffef8;
}

.login__body main {
	max-width: 1140px;
}

.login__footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	font-family: 'Work Sans' ;
	font-size: 0.8em;
}

.footer__login nav ul {
	background-color: white;
	display: flex;
	justify-content: flex-end;
	padding-right: 6em;
}

.recover-password {
	width: 170px;
	font-family: 'Work Sans' ;
	font-size: 0.9em;
	font-weight: 500;
	border: none;
	background-color: transparent;
	text-decoration: underline;
}

/**** Mode édition ****/

.mode-edition {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding : 7px 0px;
	width: 100%;
	display: none;
}

.mode-edition__bouton1 {
	color: white;
	display: flex;
	flex-direction: row;
	gap: 15px;
	border : none;
	background-color: black;
	font-family: 'Work Sans' ;
	font-size: 1.1em;
	cursor: pointer;
}

.mode-edition__bouton2 {
	border-radius: 15px;
	border: none;
	background-color: white;
	font-family: 'Work Sans' ;
	font-size: 1em;
	padding: 8px 15px;
	cursor: pointer;
}

.bouton-modifier {
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	font-family: 'Work Sans' ;
	font-size: 0.9em;
	border: none;
	background-color: transparent;
	display: none;
	cursor: pointer;
}

.bm1 {
	position: absolute;
	bottom: -40px;
	left: 45px;
}

.photo {
	position: relative;
}

.title {
	position: relative;
	width: 200px;
	margin: auto;
	margin-bottom: 50px;
}

.bm2 {
	position: absolute;
	right: -100px;
	top: 10px;;
}

/******* Modal *******/

/******* Modal galerie *****/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	width: 50%;
	max-width: 630px;
	min-width: 500px;
	max-height: 730px;
	background-color: white;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	overflow: auto;
}

.titre-modal {
	font-family: 'Work Sans' ;
	font-weight: 500;
	font-size: 1.6em;
	color: black;
	margin-bottom: 30px;
}

.icones-modal {
	display: flex;
	justify-content: space-between;
}

.retour, .fermer {
	border: none;
	background: transparent;
}

.contenu-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenu-flexible-modal {
	width: calc(100% - 180px);
}

.barre-modal {
	width: calc(100% - 180px);
	background-color: #B3B3B3;
	height: 2px;
}

.bouton-modal {
	width: 235px;
	font-size: 1em;
}

.supprimer-modal {
	border: none;
	background-color: transparent;
	font-family: 'Work Sans' ;
	font-weight: 500;
	font-size: 1.1em;
	color: rgb(199, 38, 38);
	margin-bottom: 30px;
}

.galerie-modal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 5px;
	row-gap: 15px;
	margin-bottom: 10px;
}

.projet-modal {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;

}

.image-projet-modal {
	height: 102px;
}

.editer-bouton-modal {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	font-family: 'Work Sans';
}

/******* Modal ajout photo ******/

.ajouter-photo-modal1 {
	display: flex;
	flex-direction: column;
}

.cadre-ajout-photo {
	width: 100%;
	background-color: #E8F1F6;
	height: 170px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.valider1 {
	padding: 7px;
	width: 235px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	margin : 2em auto ;
	border-radius: 60px;
	font-size: 0.9em;
}

.contenu-modal form {
	margin-top: 0;
	margin-bottom: 40px;
	width: calc(100% - 180px);
}

select {
	background-color: white;
}

.picture {
	height: 60px;
}

.bouton-ajout-photo {
	border: none;
	border-radius: 25px;
	width: 170px;
	color: #306685;
	background-color: #CBD6DC;
	font-family: 'Work Sans';
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 6px;
	cursor: pointer;
}

.cadre-ajout-photo p {
	font-size: 0.8em;
}